html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}
* {cursor: none;}

 /*Scale canvas with resize attribute to full size 
canvas[resize] {
    width: 100%;
    height: 50%;

}*/
#c {
    width: 100%;
    height: 100%;

}
#canvas{
position:absolute;
left:0px;
top:0px;
width: 100%;
height:100%;
}

/*#container { position: relative; }
    .canvas { position: absolute; top: 0; left: 0; }*/